@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.header {
  background-color: $color-principal;
  border-bottom: none;


  .top-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px 20px;
}

  .logo {
    display: flex;
    align-items: center;
    font-family: $font-main;
    justify-self: start;
    font-size: 30px;
    font-weight: 700;
    color: #111;

    span {
      background-color: #000;
      color: #fff;
      padding: 4px 12px;
      margin-left: 8px;
      border-radius: 14px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transition: 0.3s ease;
      font-size: 26px;
    }

    &:hover span {
      transform: translateY(-2px);
    }
  }

  .search-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-self: center;
    display: flex;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    input {
      flex: 1;
      min-width: 0;
      background-color: $color-blanco;
      padding: 12px;
      border: none;
      outline: none;
      font-size: 14px;
    }

    button {
      width: 50px;
      border: none;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s ease;

      svg { color: #666; }

      &:hover {
        background: #f5f5f5;
        svg { color: #000; }
      }
    }
  }

  .header-right {
    min-width: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.menu {
  background-color: $color-principal;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;

  ul {
    @include flex-center;
    width: 100%;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

  a {
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.3s ease;

    &:hover,
    &.active {
    background-color: #333;
    color: $color-blanco;
    }
  }
}
