@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.categorias {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  background-color: #ebebeb;
  flex-wrap: wrap;

  .categoria {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
      background-color: $color-blanco;
      border-radius: 50%;
      padding: 15px;

      &:hover {
        transform: scale(1.2);
        box-shadow: 2px 2px 5px black;
      }
    }

    p {
      margin-top: 12px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #000;
    }
  }
}