@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.destacados {
  padding: 60px 40px;
  color: black;
  background-color: $color-blanco;

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
}
